<div style="width: 100%; height: 100%;" *mobxAutorun>
  <div *ngIf="!notificationStore.IsUserSetuped" class="d-flex flex-column align-items-center justify-content-center" style="padding: 10px">
    <div>
      <h2>
        Your Account Is not Fully setuped. Please Update your Profile.
      </h2>
    </div>
    <div style="width: 100%">
      <app-profile></app-profile>
    </div>
  </div>
  <div style="width: 100%; height: 100%" class="d-flex align-items-center justify-content-center" *ngIf="notificationStore.IsUserSetuped">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <div>
        <h2>
          Your Account is Setuped.
        </h2>
      </div>
      <div>
        <button (click)="ContinueClick()" mat-raised-button color="primary">Continue</button>
      </div>
    </div>
  </div>
</div>
