<div *mobxAutorun>
  <div class="blog-card">
    <mat-card>
      <mat-card-title>
        {{singleBlogPageStore.BlogPage?.title}}
      </mat-card-title>
      <mat-card-subtitle>
        {{singleBlogPageStore.BlogPage?.subTitle}}
      </mat-card-subtitle>
      <mat-card-content>
        <div class="d-flex">
          <div>
            Created Date:
          </div>
          <div style="padding-left: 10px;">
            {{singleBlogPageStore.BlogPage?.dateCreated}}
          </div>
        </div>
        <div class="d-flex">
          <div>
            Author:
          </div>
          <div style="padding-left: 10px;">
            {{singleBlogPageStore.BlogPage?.authorFirstName}} {{singleBlogPageStore.BlogPage?.authorLastName}}
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
