<div *mobxAutorun>
  <h2 class="text-center">Forgot Password?</h2>
  <div class="forgot-password-form">
    <form [formGroup]="ForgotPasswordForm" (ngSubmit)="OnSubmit()">
      <mat-form-field class="margtop3rem w-100" appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="example@example.com" [formControl]="Email" required>
        <mat-error *ngIf="Email.invalid">
          <div *ngIf="Email.errors.email">
            Invalid Email Address
          </div>
          <div *ngIf="Email.errors.required">
            Email Address is required
          </div>
        </mat-error>
      </mat-form-field>

      <mat-error class="margtop3rem" *ngIf="ForgotPasswordForm.invalid">
        <div *ngIf="ForgotPasswordForm.errors?.responseErrorMessages">
          <div *ngFor="let error of ForgotPasswordForm.errors.responseErrorMessages">
            {{error}}
          </div>
        </div>
      </mat-error>

      <div class="margtop3rem w-100 d-flex justify-content-center align-items-center">
        <button type="submit" mat-raised-button color="primary">Send Reset Password Email</button>
      </div>
    </form>
  </div>
</div>
