<div *mobxAutorun>
  <div class="blog-card">
    <mat-card [routerLink]="['/blog', BlogItem.blogUrl]">
      <mat-card-title>
        {{BlogItem.title}}
      </mat-card-title>
      <mat-card-subtitle>
        {{BlogItem.subTitle}}
      </mat-card-subtitle>
      <mat-card-content>
        <div class="d-flex">
          <div>
            Created Date:
          </div>
          <div style="padding-left: 10px;">
            {{BlogItem.dateCreated}}
          </div>
        </div>
        <div class="d-flex">
          <div>
            Author:
          </div>
          <div style="padding-left: 10px;">
            {{BlogItem.authorFirstName}} {{BlogItem.authorLastName}}
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <a color="primary" [routerLink]="['/blog', BlogItem.blogUrl]" mat-raised-button>View</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
