<div *mobxAutorun class="container rounded bg-white mt-5 mb-5">
  <form [formGroup]="UpdateUserForm" (ngSubmit)="OnSubmit()">
  <div class="row">
    <div class="col-md-6 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <div>
          <app-file-uplaod (onUploadFinished)="UploadFinished($event)"></app-file-uplaod>
        </div>

        <div class="user-image rounded-circle" style="width: 150px; height: 150px; background-image: url('{{userStore.User?.imageUrl ? userStore.User.imageUrl : 'https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg'}}')">

        </div>
        <span class="font-weight-bold">{{userStore.User?.firstName}} {{userStore.User?.lastName}}</span>
        <span class="text-black-50">{{userStore.User?.email}}</span>
        <span> </span>
      </div>
    </div>
    <div class="col-md-6 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profile Settings</h4>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <mat-form-field class="margtop3rem w-100" appearance="fill">
              <mat-label>Enter your First Name</mat-label>
              <input matInput [formControl]="FirstName" required>
              <mat-error *ngIf="FirstName.invalid">
                <div *ngIf="FirstName.errors.required">
                  First Name is required
                </div>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="margtop3rem w-100" appearance="fill">
              <mat-label>Enter your Last Name</mat-label>
              <input matInput [formControl]="LastName" required>
              <mat-error *ngIf="LastName.invalid">
                <div *ngIf="LastName.errors.required">
                  Last Name is required
                </div>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <mat-form-field class="margtop3rem w-100" appearance="fill">
              <mat-label>Select Gender</mat-label>
              <mat-select required [formControl]="GenderDdl">
                <mat-option *ngFor="let gender of GenderEnum | enumToArray" [value]="gender.value">
                  {{gender.key}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="GenderDdl.invalid">
                <div *ngIf="GenderDdl.errors.required">
                  Gender is required
                </div>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="margtop3rem w-100" appearance="fill">
              <mat-label>Enter your Birth Date</mat-label>
              <input [formControl]="BirthDate" required matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="BirthDate.invalid">
                <div *ngIf="BirthDate.errors.required">
                  Birth Date is required
                </div>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="margtop3rem w-100" appearance="fill">
              <mat-label>Enter your Phone Number</mat-label>
              <input matInput [formControl]="PhoneNumber" required>
              <mat-error *ngIf="PhoneNumber.invalid">
                <div *ngIf="PhoneNumber.errors.required">
                  Phone Number is required
                </div>
                <div *ngIf="!PhoneNumber.errors.required && PhoneNumber.errors.phoneRegexNotPass">
                  Invalid Phone Number
                </div>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="mt-5 text-center">
          <mat-error class="margtop3rem" *ngIf="UpdateUserForm.invalid">
            <div *ngIf="UpdateUserForm.errors?.responseErrorMessages">
              <div *ngFor="let error of UpdateUserForm.errors.responseErrorMessages">
                {{error}}
              </div>
            </div>
          </mat-error>

          <button type="submit" mat-raised-button color="primary">Update Profile</button>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>
